$primary-50: #F0F7FF;
$primary-100: #C2E0FF;
$primary-200: #99CCF3;
$primary-300: #66B2FF;
$primary-400: #3399FF;
$primary-500: #007FFF;
$primary-600: #0072E5;
$primary-700: #0059B2;
$primary-800: #004C99;
$primary-900: #003A75;
$primary-main: #007FFF;
$primary-light: #66B2FF;
$primary-dark: #0059B2;
$primary-contrastText: #fff;

$secondary-main: #9c27b0;
$secondary-light: #ba68c8;
$secondary-dark: #7b1fa2;
$secondary-contrastText: #fff;

$error-50: #FFF0F1;
$error-100: #FFDBDE;
$error-200: #FFBDC2;
$error-300: #FF99A2;
$error-400: #FF7A86;
$error-500: #FF505F;
$error-600: #EB0014;
$error-700: #C70011;
$error-800: #94000D;
$error-900: #570007;
$error-main: #EB0014;
$error-light: #FF99A2;
$error-dark: #C70011;
$error-contrastText: #fff;

$success-50: #E9FBF0;
$success-100: #C6F6D9;
$success-200: #9AEFBC;
$success-300: #6AE79C;
$success-400: #3EE07F;
$success-500: #21CC66;
$success-600: #1DB45A;
$success-700: #1AA251;
$success-800: #178D46;
$success-900: #0F5C2E;
$success-main: #1AA251;
$success-light: #6AE79C;
$success-dark: #1AA251;
$success-contrastText: #fff;

$info-main: #0288d1;
$info-light: #03a9f4;
$info-dark: #01579b;
$info-contrastText: #fff;

$warning-50: #FFF9EB;
$warning-100: #FFF3C1;
$warning-200: #FFECA1;
$warning-300: #FFDC48;
$warning-400: #F4C000;
$warning-500: #DEA500;
$warning-600: #D18E00;
$warning-700: #AB6800;
$warning-800: #8C5800;
$warning-900: #5A3600;
$warning-main: #DEA500;
$warning-light: #FFDC48;
$warning-dark: #AB6800;
$warning-contrastText: rgba(0, 0, 0, 0.87);

$grey-50: #F3F6F9;
$grey-100: #E7EBF0;
$grey-200: #E0E3E7;
$grey-300: #CDD2D7;
$grey-400: #B2BAC2;
$grey-500: #A0AAB4;
$grey-600: #6F7E8C;
$grey-700: #3E5060;
$grey-800: #2D3843;
$grey-900: #1A2027;
$grey-main: #E7EBF0;
$grey-contrastText: #6F7E8C;
$grey-A100: #f5f5f5;
$grey-A200: #eeeeee;
$grey-A400: #bdbdbd;
$grey-A700: #616161;

$text-primary: #1A2027;
$text-secondary: #3E5060;
$text-disabled: rgba(0, 0, 0, 0.38);

$action-active: rgba(0, 0, 0, 0.54);
$action-hover: rgba(0, 0, 0, 0.04);
$action-hoverOpacity: 0.04;
$action-selected: rgba(0, 0, 0, 0.08);
$action-selectedOpacity: 0.08;
$action-disabled: rgba(0, 0, 0, 0.26);
$action-disabledBackground: rgba(0, 0, 0, 0.12);
$action-disabledOpacity: 0.38;
$action-focus: rgba(0, 0, 0, 0.12);
$action-focusOpacity: 0.12;
$action-activatedOpacity: 0.12;

$divider: rgba(0, 0, 0, .12);